body {
  background-color: #c9b5ae;
  font-family: "PT Serif", serif;
}
img {
  width: 100%;
}
h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold 700;
  color: #340c24;
}
h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #340c24;
  font-weight: bold 700;
}
nav ol {
    list-style-type: none;
}
nav a {
  color: #8d2c3f;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
nav a:hover {
  color: #340c24;
  text-decoration: underline;
}
figcaption {
  text-align: center;
  font-style: italic;
}
.mid {
  font-weight: 400;
}
.big {
  font-weight: bold;
  font-size: 1.2rem;
}
blockquote {
  font-size: 1.4rem;
  font-style: italic;
}
.chris {
  font-size: 0.8rem;
}
